@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.footer-container{
    background-color:#EDEFF1 ;
    width: 100vw;
    height:40vh;
    display: flex;
    flex-direction: row;

   
}

.left-container{
    max-width: 50vw;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}


.header-container{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-size: 3em;
letter-spacing: 0px;
margin-left: 6rem;
}
.header{
    margin: 0;
}

.talk-div{
  text-decoration: none; border-bottom:3px solid #C0345E; 
    width: 4vw;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    margin-left: 6rem;
    color: #19293A;
}



.copywrite{
    margin-left: 6rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    color: #50647380;
    letter-spacing: 0.53px;
    flex-shrink: 4;
}
.btm{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90px;
    justify-content: flex-end;
    margin-top: 5rem;

}


.drop-down{
    margin-top: 2rem;
    
}

.no-margin{
    margin: 0;
}

.icon-box{
 
  padding-top: 0rem;
  display: flex;
  flex-direction: row;
  height: 40px;
 
}

.icon{
    padding: 0.5rem;
    padding-top: 0;
    width: 32px;
}



.footer-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50vw;
    height:30vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.25rem;
}


.menu-styling{
    font-family: "Open Sans";
    font-size: 1.3rem;
    padding: 0.1rem;
    margin: 0;
}

@media( max-width:2000px){
    .drop-down{
        margin-top: 0rem;
            
    }
}

@media( max-width:1943px){
    .talk-div{
        width: 3rem;
            
    }
}

@media( max-width:1008px){
    .header-container{
        font-size: 2rem;
            
    }
}

@media( max-width:880px){
    .header-container, .talk-div, .copywrite{
        margin-left: 0rem;
            
    }
}

@media( max-width:881px){
    .menu-styling{
        font-size: 1rem;
            
    }
}

@media( max-width:685px){
    .menu-styling{
        font-size: 0.5rem;
            
    }
}

@media( max-width:466px){
    .header-container{
        font-size: 1rem;
            
    }
}

@media( max-width:425px){
    .drop-down{
        margin-left: 1rem;
            
    }
}

@media( max-width:320px){
    .top{
       display: none;
            
    }
    .copywrite{
        font-size: 0.75em;
    }
}
