.nav-container{
    width: 100vw;
    height: 10vh;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}


.navbar-list{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0;
    margin-right: 4em;
}


.navbar-option{
    padding: 2em 1em;
    color: #fff;
    font-family: "Open Sans";
    font-size: 1em;
    
    
}


.burger-outer{
   width: 2rem;
   height: 2rem;
   position: fixed;
   top:15px;
   right: 20px;
   z-index: 20;
   display: none


}

.innner-burger{
    width:2rem;
    height: 0.25rem;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
}


@media( max-width:768px){
    .navbar-list{
    background-color: black;
      flex-flow: column nowrap;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 70px;
      padding-top: 3.5rem;
      padding-right: 1rem;
      transition: transform 0.3s ease-in-out;
      margin-right: 0;

    }

    li{
        color: #fff;
    }
}

@media( max-width:768px){
    .burger-outer{
        display: flex;
        justify-content: space-around;
        flex-flow:  column nowrap ;
    }
}